.hero{
    position: relative;
}
.hero .banner-img {
    width: 100%;
    height: 100vh;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.hero .hero-caption {
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}
.hero .hero-caption .caption-img {
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}
.hero .hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.hero .hero-caption .hero-btns {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.hero .hero-caption .hero-btns .btn {
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.hero .hero-caption .hero-btns .btn.dark-btn {
    background: #6d6d63b3;
    color: #fff;
}
.hero .hero-caption .hero-btns .btn img {
    width: 25px;
}
.hero .hero-caption .hero-btns .btn:hover {
    background: #ffffffbf;
}
.hero .hero-caption .hero-btns .btn.dark-btn:hover {
    background: #6d6d6e66;
}
.more-cards{
    padding-left: 6%;
}

@media (max-width: 1024px) {
    .hero .hero-caption .title-cards {
        display: none;
    }
    .hero .hero-caption .hero-btns {
        margin-bottom: 1.75rem;
    }
}
@media (max-width: 800px) {
    .hero .hero-caption {
        padding-left: 4%;
    }
    .hero .hero-caption .caption-img  {
        margin-bottom: 0.75rem;
        width: 40%;
    }
    .hero .hero-caption p {
        font-size: 0.75rem;
        margin-bottom: 0.3rem;
    }
    .hero .hero-caption .hero-btns .btn img {
        width: 2.25rem;
    }
    .more-cards{
        padding-left: 4%;
    }
}
@media (max-width: 500px) {
    .hero .hero-caption p{
        display: none;
    }
    .hero .hero-caption .hero-btns .btn img {
        width: 1rem;
    }
    .hero .hero-caption .hero-btns .btn {
        padding: 0.25rem 0.5rem;
        gap: 0.25rem;
        font-size: 0.5rem;
    }
}